{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>
<main>
    {% block content %}
    {% endblock %}
</main>
<!-- script needed for the flyonui component library -->
<script src="{% static 'js/flyonui.js' %}"></script>
</body>

</html>